* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
}

* .keyword {
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  color: white;
}

* .bigtext {
  font-size: 4rem;
}

* .light.bubble {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 3;
}

* .dark.bubble {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 3;
}

* .bubble {
  border: 1px solid white;
  padding: 0px !important;
  height: 0rem;
  width: 0rem;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
  margin-bottom: 0vh;
  opacity: .2;
  -webkit-animation: goup;
          animation: goup;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  -items: flex-start;
  overflow: hidden;
  background-color: #0A0028;
}

#root .App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: inherit;
}

#root .App .welcome_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

#root .App .welcome_section nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem 0rem 1rem;
}

#root .App .welcome_section nav img {
  width: 10%;
}

#root .App .welcome_section nav i {
  font-size: 2.5rem;
  font-weight: lighter;
  -webkit-transition: all ease .25s;
  transition: all ease .25s;
}

#root .App .welcome_section nav i:hover {
  color: #ef5da8;
  cursor: pointer;
}

#root .App .welcome_section .welcome_text {
  position: relative;
  margin-top: -1rem;
}

#root .App .welcome_section .welcome_text h1 {
  line-height: 1;
  font-size: 1.5rem;
  text-align: center;
}

#root .App .welcome_section .welcome_text h1:not(.welcome_description) {
  font-size: 2rem;
  margin-bottom: 2rem;
}

#root .App .welcome_section .welcome_intro div {
  position: relative;
  padding: .75rem 1rem;
  background-color: #110042;
}

#root .App .welcome_section .welcome_intro div h1 {
  font-size: 1.5rem;
}

#root .App .welcome_section .welcome_intro div:not(.greeting) {
  position: relative;
  z-index: 1;
  background-color: #2B00A4;
  padding: 1.5rem 1rem;
}

#root .App .welcome_section .welcome_intro div:not(.greeting) h1 {
  font-size: 1.5rem;
}

@-webkit-keyframes goup {
  0% {
    margin-bottom: 0vh;
  }
  100% {
    margin-bottom: 100vh;
    display: none;
  }
}

@keyframes goup {
  0% {
    margin-bottom: 0vh;
  }
  100% {
    margin-bottom: 100vh;
    display: none;
  }
}
/*# sourceMappingURL=app.css.map */