// DONT TOUCH
@mixin flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
// DONT TOUCH
@mixin flexRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
// DONT TOUCH
@mixin parralax {
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
// DONT TOUCH
@mixin fullScreener {
    height: 100vh;
    width: 100vw;
}
// DONT TOUCH
@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}
// DONT TOUCH
@mixin absCentered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

$darkpurple: #0A0028;
$secondarydpurple:#110042;
$tertiarydpurple:#3b16a3;
$keywords : #ef5da8;

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // base color for all text!
    color: white;
    .keyword{
        transition: all ease 1s;
        color: white;
    }
    .bigtext{
        font-size: 7rem;
    }


    .bubble{
        padding: 0px !important;
        height: 0rem;
        width: 0rem;
        transition: all ease .25s;
        margin-bottom: 0vh;
        opacity: 1;
    }
}

#root{
    @include flexCol();
    @include fullScreener();
    -items: flex-start;
    overflow: hidden;
    background-color: $darkpurple;
    .App{
        @include flexCol();
        width: inherit;
        overflow: hidden !important;
        .welcome_section{
            @include flexCol();
            justify-content: space-between;
            width: 100%;
            min-height: 100vh;
            nav{
                @include flexRow();
                justify-content: space-between;
                width: 100%;
                padding: 1rem 1rem 0rem 1rem;
                img{
                    width: 5rem;
                }
                i{
                    font-size: 2.5rem;
                    font-weight: lighter;
                    transition: all ease .25s;
                    &:hover{
                        color: $keywords;
                        cursor: pointer;
                    }
                }
            }
            .welcome_text{
                z-index: 3;
                position: relative;
                h1{ 
                    line-height: 1;
                    font-size: 2.5rem;
                    text-align: center;
                }
                h1:not(.welcome_description){
                    font-size: 4rem;
                    margin-bottom: 2rem;
                }
            }
            .welcome_intro{
                width: 100%;
                div{
                    padding: 1.5rem 1rem;
                    background-color: $secondarydpurple;
                    h1{
                        font-size: 3rem;
                        position: relative;
                    }
                }

                div:not(.greeting){
                    z-index: 1;
                    background-color: $tertiarydpurple;
                    padding: 3rem 1rem;
                    p{
                        font-size: 2rem;
                    }
                }
                .greeting{
                    // display: none;
                    overflow: hidden;
                    position: relative;
                    z-index: 0;

                }
                .message{
                    // display: none;
                    overflow: hidden;
                    position: relative;
                    z-index: 100;
                }
                .bubble{
                    margin-bottom: -5vh;
                    animation: goup 15s infinite forwards;
                }
                .light.bubble{
                    border-radius: 50%;
                    z-index: 0;
                }
                .dark.bubble{
                    z-index: 0;
                    border-radius: 50%;
                    animation-duration: 10s !important;
                }

            }
        }
    }
}

@keyframes goup {
    0%{
        bottom: 13vh;

    }
    98%{
        opacity: 0;

    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@media screen and (max-width: 800px) {
    .bigtext{
        font-size: 4rem;
    }
    .welcome_text{
        
        h1{ 
            font-size: 1.5rem !important;

        }
        h1:not(.welcome_description){
            font-size: 3.5rem !important;

        }
        .welcome_description{
            padding: 1rem;
        }
    }
    .welcome_intro{
        div{

            h1{
                font-size: 2rem !important;
                position: relative;
            }
        }

        div:not(.greeting){

            p{
                font-size: 1.5rem !important;
            }
        }


    }
}