// DONT TOUCH
@mixin flexCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}
// DONT TOUCH
@mixin flexRow {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: row ;
}
// DONT TOUCH
@mixin parralax {
    background-attachment: fixed;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
// DONT TOUCH
@mixin fullScreener {
    min-height: 100vh;
    min-width: 100%;
}
// DONT TOUCH
@mixin animationInfo{
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    
}
// DONT TOUCH
@mixin absCentered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

$opaquePurple : #2c00a4f1;
$darkpurple: #0A0028;
$secondarydpurple:#110042;
$tertiarydpurple:#230089;
$keywords : #ef5da8;

// scroll bars stylings
/* width */
.nonactive::-webkit-scrollbar {
    width: 1rem;
  }
.active::-webkit-scrollbar {
    width: 1rem;
}
  
  /* Track */
.nonactive::-webkit-scrollbar-track {
    background: $darkpurple;
    transition: all ease .5s !important;

}
.active::-webkit-scrollbar-track {
    background: $darkpurple;
    transition: all ease .5s !important;
}
  
/* Handle */
.nonactive::-webkit-scrollbar-thumb {
    background: $tertiarydpurple;
    transition: all ease .5s !important;
}

/* Handle */
.active::-webkit-scrollbar-thumb {
    background: $keywords;
    transition: all ease .5s !important;
}
  
/* Handle on hover */
.nonactive::-webkit-scrollbar-thumb:hover {
background: $keywords;
cursor: pointer;

}

.active::-webkit-scrollbar-thumb:hover {
background: $keywords;
cursor: pointer;

}

*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    // base color for all text!
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    .keyword{
        transition: all ease 1s;
        color: white;
        font-family: 'Pattaya', sans-serif;

    }
    .bigtext{
        font-size: 7rem;
    }


    .bubble{
        padding: 0px !important;
        height: 0rem;
        width: 0rem;
        transition: all ease .25s;
        margin-bottom: 0vh;
        opacity: 1;
    }
}

.spacer{
    width: 100%;
    background-color: $tertiarydpurple;
    @include flexRow();
    .innerSpacer{
        width: 90%;
        background-color: white;
        height: 2px;
    }
}

#root{
    background-color: $tertiarydpurple;
    .toggle_navigation{
        transition: all ease .75s;
        z-index: 300;
        height: 0vh;
        width: 0vw;
        background-color: $opaquePurple;
        @include flexCol();
        position: fixed;
        top: 0;
        right: 0;
        font-size: 0vw;
        opacity: 0;
        overflow: hidden;
        a{
            min-width: 50%;
            text-align: center;
            transition: all ease .25s;
            margin-bottom: 5rem;
            padding: 1rem ;
            border-radius: 1rem;
            box-shadow: inset 0 0 0rem $tertiarydpurple;
            &:hover{
                color: $keywords;
                box-shadow:inset 0 -1rem 3rem $darkpurple !important;
            }
        }
    
        nav{
            @include flexRow();
            justify-content: space-between;
            width: 100%;
            padding: .7rem 1rem 0rem 1rem;
            margin-bottom: 5rem;
    
            img{
                width: 5rem;
            }

            i{
                font-size: 2.5rem;
                font-weight: lighter;
                transition: all ease .25s;
                color: $keywords;
                cursor:pointer;
    
            }
        }
    
    }
    @include flexCol();
    -items: flex-start;
    background-color: $darkpurple;
    .App{

        @include flexCol();
        width: inherit;
        overflow: hidden !important;
        position: relative;
        .mainnav{
            @include flexRow();
            justify-content: space-between;
            position: fixed;
            z-index: 1000 !important;
            top: 0;
            width: 100%;
            padding: 1rem;
            img{
                width: 5rem;
            }
            i{
                font-size: 2.5rem;
                font-weight: lighter;
                transition: all ease .25s;
                &:hover{
                    color: $keywords;
                    cursor: pointer;
                }
            }
        }
        .welcome_section{
            @include flexCol();
            position: relative;
            justify-content: space-between;
            width: 100%;
            min-height: 100vh;
            overflow: hidden !important;

            nav{
                position: relative;
            }
            .welcome_text{
                z-index: 3;
                position: relative;
                h1{ 
                    line-height: 1;
                    font-size: 2.5rem;
                    text-align: center;
                }
                h1:not(.welcome_description){
                    font-size: 4rem;
                    margin-bottom: 2rem;
                }
            }
            .welcome_intro{
                width: 100%;
                div{
                    padding: 1.5rem 1rem;
                    background-color: $secondarydpurple;
                    h1{
                        font-size: 3rem;
                        position: relative;
                    }
                }

                div:not(.greeting){
                    z-index: 1;
                    background-color: $tertiarydpurple;
                    padding: 3rem 1rem;
                    p{
                        font-size: 2rem;
                    }
                }
                .greeting{
                    // display: none;
                    overflow: hidden;
                    position: relative;
                    z-index: 0;

                }
                .message{
                    // display: none;
                    overflow: hidden;
                    position: relative;
                    z-index: 100;
                }
                .bubble{
                    margin-bottom: -5vh;
                    animation: goup 15s infinite forwards;
                }
                .light.bubble{
                    border-radius: 50%;
                    z-index: 0;
                }
                .dark.bubble{
                    z-index: 0;
                    border-radius: 50%;
                    animation-duration: 10s !important;
                }

            }
        }
        .my_skills{
            @include fullScreener();
            @include flexRow();
            min-height: 75vh;
            padding-top: 2rem;
            background:  $tertiarydpurple ;
            .section_split{
                h1{
                    font-size: 3rem;
                    margin: 3rem 0px;

                }
                @include flexCol();
                justify-content: flex-start;
                width: 50%;
                height: 100vh;
                .project_container_outer{
                    min-height: 70vh;
                    @include flexCol();
                }
                .project_container{
                    @include flexCol();
                    justify-content: space-evenly;
                    background-color: #5D5FEF;
                    border-radius: 1rem;
                    padding: 1rem;
                    box-shadow: 0 -1.5rem #7879F1;
                    width: 40vw;
                    min-height: 60vh;

                    .row{
                        @include flexRow();
                        transition: all ease .75s;
                        width: 100%;
                        justify-content: space-evenly;
                        .container{
                            @include flexRow();
                            margin: .5rem;
                            border-radius: 50%;
                            overflow: hidden;
                            height: 20vh;
                            width: 20vh;
                            background-color: black;
                            transition: all ease .75s;

                            img{
                                width: 100%;
                            }

                        }
                        .currentlyActive{
                            border: .25rem solid $keywords;
                            cursor: pointer;
                            transition: all ease .75s;
                            box-shadow: 0 1rem 1rem black;
                        }

                    }
                }
                .select_skill_container{
                    @include flexCol();
                    justify-content: space-evenly;
                    min-height: 70vh;
                    padding: 1rem;
                    width: 100%;
                    overflow: hidden;
                    *{
                        overflow: visible;
                    }
                    .name{
                        font-family: 'Pattaya', sans-serif;
                        color: $keywords;
                        font-size: 3rem;
                        margin: 1rem 0rem;
                        transition: all ease .5s;   
                    }
                    .toggle_area{
                        @include flexRow();
                        justify-content: space-evenly;
                        width: 80%;
                        i{
                            @include flexCol();
                            transition: all ease .25s;
                            font-size: 5rem;
                            cursor: pointer;
                            color: #5D5FEF;
                            &:hover{
                                color: $keywords;
                            }
                        }
                        div{
                            width:40%;
                            @include flexCol();
                            border-radius: 50%;
                            padding: none !important;
                            background-color: $tertiarydpurple;

                            img{
                                width: 50%;
                                cursor: default;
                                transition: all ease .5s !important;
                                transform: rotateY(0deg);
                                
                            }
                            &:hover{
                                cursor: pointer;
                                transition: all ease .75s;

                            }
                        }
                    }
                    .skill_subskills{
                        width: 50%;
                        overflow: visible;
                        min-height: 35vh;
                        p{
                            @include flexRow();
                            justify-content: space-between;
                            width: 100%;
                            font-size: 1.5rem;
                            margin: .5rem 0rem ;
                            text-align: left;                     
                            transition: all ease .25s;
                            i{
                                float: right;
                                margin-left: 1rem;
                                transition: all ease .25s;
                                text-decoration: none !important;
                                font-size: 1.5rem;
                                cursor: pointer;
                                &:hover{
                                    color: $keywords;
                                }
                            }
                            &:hover{
                                color: $keywords;
                            }
                        }
                    }
                }
            }
        }
        .portfolio_section{
            @include fullScreener();
            @include flexCol();
            justify-content: space-evenly;
            background-image: url('../images/portfolioBk.webp');
            background-size: cover;
            background-color: #230089;
            position: relative;
            h1{
                font-size: 2rem !important;
            }
            .iframe_container,.info_container{
                width: 0%;
                height: 0vh;
                position: absolute;
                border-radius: 2rem;
                background-color: #7878f1f3;
                border: none;
                @include flexCol();
                justify-content: space-evenly;
                padding-top: 2.5%;
                box-shadow: 0 0 10rem black;
                overflow: hidden;
                transition: all ease .5s;
                opacity: 0;
                z-index: 3;
                h1{
                    @include flexRow();
                    line-height: 0;
                    width: 100%;
                    .siteTitle{
                        transition: all ease .5s;
                        font-family: 'Pattaya', sans-serif;
                        color: $keywords;
                        text-shadow: 0 0 .5rem $tertiarydpurple;
                        font-size: 0rem;
                    }
                    .floater_close{
                        position: absolute;
                        right: 5%;
                        color: pink;
                        text-shadow: 0 0 .5rem black;
                        cursor: pointer;
                        transition: all ease .25s;
                        font-weight: bolder;
                        &:hover{
                            color: red;
                            text-shadow: 0 0 1.5rem black;
                        }
                    }
                }
                iframe{
                    transition: all ease .5s;
                    border-radius: inherit;
                    width: 95%;
                    height: 85%;
                    border: .5rem solid $tertiarydpurple;
                    background-color: #222222;
                    background-image: url('../images/loadingsrc.gif');
                    background-size: 10rem 10rem;
                    background-repeat: no-repeat;
                    background-position:center;
                    box-shadow: inset 0 0 1rem black;
                }
            }

            .info_container{
                p{
                    margin-top: 2.5vw;
                    font-size: 1.5vw;
                    transition: all ease .5s;
                    transition-delay: .75s;
                    opacity: 0;
                }
                .top_row{
                    width: 94%;
                    @include flexRow();
                    justify-content: space-between;
                    align-items: flex-start;
                    .proj_img{
                        @include flexRow();
                        transition: all ease .5s;
                        min-height: 50vh;
                        border-radius: 2rem;
                        width: 50%;
                        background-color: black;
                        border: .5rem solid #2B00A4;
                        font-size: 3vw;
                        font-weight: bold;
                        background-size: 0% 0%;
                        background-repeat: no-repeat;
                        background-position:center;
                    }
                    .proj_information{
                        @include flexCol();
                        border-radius: 2rem;
                        justify-content: flex-start;
                        align-items: flex-start;
                        min-height: 50vh;
                        width: 40%;
                        background-color: $tertiarydpurple;
                        padding: 0% 5%;

                        h2{
                            transition: all ease .5s;
                            opacity: 0;
                            transition-delay: .25s;
                        }
                        
                        h1{
                            margin-bottom: 10vh;
                            font-family: 'Pattaya', sans-serif;
                            letter-spacing: 4px;
                            justify-content: space-between;
                            font-size: 3vw;
                            opacity: 0;
                            transition: all ease .5s;
            
                        }

                        .header_li{
                            text-shadow: 0 0 .5rem $secondarydpurple;
                            color: $keywords;
                            font-weight: bolder;
                            font-size: 2.5vw;
                            margin-bottom: 4vh;
                        }

                        ul{
                            font-weight: bold;
                            list-style: none;
                            transition: all ease .5s;
                            opacity: 0;
                            transition-delay: .5s;
                            li{
                                transition: all ease .5s;
                                font-size: 1.5vw;
                                margin-bottom: 1vh;
                            }
                        }
                    }
                }
                p{
                    width: 90%;
                    font-size: 1.25vw ;
                }

            }

            h1{
                font-size: 3rem;
                margin: 3rem 0px;
            }
            .portfolio_project_selector{
                width: 100%;
                .top_row{
                    @include flexRow();
                    justify-content: space-evenly;
                    width: 100%;
                    .project_container_outer{
                        width: 100%;
                        @include flexCol();
                        &:hover{
                           .project_container{
                                box-shadow: 0 0 3rem #02033d;
                           } 
                        }
                        .project_container{
                            @include flexCol();
                            justify-content: space-evenly;
                            min-height: 45vh;
                            width: 70%;
                            background-color: #7879F1;
                            border-radius: 2rem;
                            border-top: .5rem solid #A5A6F6;
                            transition: all ease .5s;
                            #project_preview,.project_view,.project_info{
                                min-height: 20vh;
                                width: 80%;
                                background-color: black;
                                border-radius: 1rem;
                                @include flexCol();
                                font-size: 1.5rem;
                                font-weight: bold;
                            }
                            .project_view,.project_info{
                                min-height: 5vh;
                                background-color: #5D5FEF;
                                transition: all ease .25s;
                                cursor: pointer;
                                border-radius: 1rem;
                                border: none;
                                &:hover{
                                    background-color: #3537c2;
                                    color: $keywords;
                                    text-shadow: 0 0 1rem black;
                                }
                            }
                            #project_preview{
                                background-image: url('../images/preview1.webp');
                                background-size: 125% 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                box-shadow: inset 0 0 1rem black;
                            }
                            .VAREP{
                                background-image: url('../images/preview1.webp') !important;
                            }
                            .CONFERENCE{
                                background-image: url('../images/preview3.webp') !important;
                            }
                            .JAKESPACE{
                                background-image: url('../images/preview2.webp') !important;
                            }
                            .PROJECT{
                                background-image: url('../images/preview4.webp') !important;
                            }

                        }
                        h1{
                            font-size: 1.75rem;
                            width: 100%;
                            text-align: center;
                            position: relative;
                            .infobubble{
                                @include absCentered();
                                @include flexCol();
                                cursor: pointer;
                                align-items: flex-start;
                                text-align: left;
                                z-index: 10;
                                position:  absolute;
                                transition:  all ease .25s;
                                width: 0rem;
                                height: auto;
                                background-color: rgba(255, 255, 255, 0.952);
                                border-radius: 2rem;
                                overflow: hidden;
                                transform: translate(-50%,-65%);
                                font-size: 0rem;
                                color: black;

                            }
                            .main_desc{
                                *{
                                    text-decoration: none;
                                }
                            }
                            .main_title{
                                letter-spacing: 2.5px;
                                font-family: 'Pattaya', sans-serif !important;
                                color: $keywords;
                                text-decoration: underline;
                                position: relative;
                                z-index: 2;
                                i{
                                    margin-left: 1rem;
                                    color: #5D5FEF;
                                    transition: all ease .1s;
                                    text-decoration: none !important;
                                    font-size: 1.5rem;

                                }

                                &:hover{
                                    i{
                                        color: $keywords;
                                        cursor: pointer;
                                        &:hover{
                                            color: white;
                                            font-size: 2rem;
                                            margin-left: .6rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .about_section{
            @include fullScreener();
            @include flexRow();
            position: relative;
            background: linear-gradient(#4319b4,$tertiarydpurple,$darkpurple);
            border-bottom: 3vw solid #5D5FEF;

            .section_split{
                @include flexCol();
                justify-content: space-evenly;
                width: 50%;
                text-align: center;
                min-height: inherit;
                h1{
                    font-size: 3rem;
                }
                P{
                    min-height: 40vh;
                    width: 80%;
                    text-align: left;
                    font-size: 2.1vw;
                }
            }

            .section_split.two{
                form{
                    @include flexCol();
                    justify-content: space-between;
                    background-color: #5D5FEF;
                    min-height: 45vh;
                    width: 60%;
                    border-radius: 2rem;
                    padding: 2vw;
                    padding-top: 1.75vw !important;
                    box-shadow: 0 -1.5rem #7879F1;
                    
                    h1{
                        font-size: 1.25vw;
                        line-height: 0;
                        letter-spacing: 3px;
                        font-weight: bolder !important;
                    }

                    .backnforth{
                        @include flexRow();
                        padding-top: .75%;
                        align-items: flex-start;
                        background: #5D5FEF;
                        position: absolute;
                        width: 10vw;
                        height: 10vh;
                        border-radius: 1rem;
                        bottom: 0;
                        transform: translateY(50%);
                        animation: backnf 10s infinite forwards;
                        transition: all ease .5s;
                        z-index: 0;
                        input,textarea{
                            transition: all ease .5s;
                            @include flexCol();
                            cursor: pointer;
                            opacity: 1;
                            height: auto;
                            width: 85% !important;
                        }
                    }
                    input,textarea{
                        text-align: center;
                        width: 100%;
                        background-color: $tertiarydpurple;
                        padding: .75vw;
                        border-radius: 1rem;
                        border: none;
                        font-weight: bolder;
                        color: $keywords;
                        font-size: 1vw;
                        &::placeholder{
                            transition: all ease .25s;
                            font-size: 1vw;
                            font-weight: bolder;
                            color: white;

                        }
                        &:hover{
                            &::placeholder{
                                color: $keywords;
                            }
                        }
                    }
                    span{
                        @include flexRow();
                        width: 100%;
                        justify-content: space-between;
                        input{
                            width: 45% !important;
                        }
                    }

                }
            }

        }
    }
}

// @keyframes backnf {
//     0%{
//         left: 0%;
//     }
//     50%{
//         left: 90%;
//     }
//     100%{
//         left: 0%;
//     }
// }

@keyframes goup {
    0%{
        bottom: 13vh;
    }
    98%{
        opacity: 0;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@media screen and (max-width: 1000px) {
    .iframe_container{
        h1{
            .siteTitle{
                font-size: 8vw !important;
            }
        }
    }
    .info_container{
        padding-top: 5% !important;
        justify-content: space-between !important;
        .top_row{
            flex-direction: column !important;
            align-items: center !important;
            min-height: 35vh;
            .proj_img{
                width: 95% !important;
                min-height: 25vh !important;
                margin-bottom: 1.75vh !important;
            }
            .proj_information{
                min-height: auto !important;
                margin-right: 0% !important;
                width:95% !important;
                margin-top: 0rem !important;

                h1{
                    font-size: 4vh !important;
                    margin: 1.75rem 0rem !important;
                    width:100% !important;
                    justify-content: center !important;
                }

                .header_li{
                    font-size: 6vw !important;
                    text-shadow: 0 0 .5rem $secondarydpurple;
                    width: 100% !important;
                    text-align: center;
                    margin: 2vh 0vh !important;
                }

                ul{
                    position: relative;
                    width: 100% !important;
                    @include flexRow();
                    li{
                        font-size: 1rem !important;
                        margin-top: 0vh !important;
                        padding: 1vw;
                    }
                }
            }
        }
        p{
            font-size: 1.75vh !important;
            text-align: left !important;
            width:85% !important;
            margin-top: 0vw !important;
        }

        .info_closer{
            margin: 2.5 rem 0vw !important;
        }

    }
    .toggle_navigation{
        font-size: 3.5vw !important;
    }
    .bigtext{
        font-size: 4rem;
    }
    .welcome_section {
        nav{
            height: 10vh;
        }
    }
    .welcome_text{
        h1{ 
            font-size: 1.5rem !important;
        }
        h1:not(.welcome_description){
            font-size: 3.5rem !important;
        }
        .welcome_description{
            padding: 1rem;
        }
    }
    .welcome_intro{
        div{
            h1{
                font-size: 2.5rem !important;
                position: relative;
                text-align: center;
            }
        }

        div:not(.greeting){
            p{
                font-size: 1rem !important;
            }
        }


    }

    .about_section{
        flex-direction: column !important;
        justify-content: space-evenly !important;
        .section_split{
            @include flexCol();
            justify-content: space-evenly !important;
            width: 100% !important;
            text-align: center;
            min-height: 40vh !important;
            h1{
                font-size: 2rem !important;
            }
            P{
                min-height: auto !important;
                width: 80%;
                text-align: left;
                font-size: 1rem !important;
            }
        }

        .section_split.two{
            min-height: 60vh !important;
            form{
                box-shadow: 0 -.5rem #7879F1 !important;
                min-height: 35vh !important;
                width: 80% !important;
                padding-top: 1.75vw !important;
                justify-content: space-evenly !important;
                h1{
                    font-size: 1rem !important;
                }
                .backnforth{
                    @include flexRow();
                    position: absolute;
                    width: 30% !important;
                    height: auto !important;
                    border-radius: 1rem !important;
                    bottom: 0;
                    transform: translateY(50%);
                    animation: backnf 10s infinite forwards;
                    transition: all ease .5s;
                    z-index: 0;
                    input,textarea{
                        transition: all ease .5s;
                        @include flexCol();
                        cursor: pointer;
                        background: white;
                        opacity: 1;
                    }
                }
                input,textarea{
                    text-align: center;
                    width: 100%;
                    background-color: $tertiarydpurple;
                    padding: .75rem !important;
                    border-radius: .5rem !important;
                    border: none;
                    font-weight: bolder;
                    color: $keywords;
                    font-size: .5rem !important;
                    &::placeholder{
                        transition: all ease .25s;
                        font-size: .5rem !important;
                        font-weight: bolder;
                        color: white;

                    }
                    &:hover{
                        &::placeholder{
                            color: $keywords;
                        }
                    }
                }
                span{
                    @include flexRow();
                    width: 100%;
                    justify-content: space-between;
                    input{
                        width: 45% !important;
                    }
                }

            }
        }

    }

    .my_skills{
        flex-direction: column !important;
        .section_split{
            width: 100% !important;
            text-align: center;
            height:auto !important;
            h1{
                font-size: 2rem !important;
                margin:0rem 0rem !important;
                margin-bottom: 1.5rem !important;
            }
            .select_skill_container{
                div{
                    width: 100%;
                    p{
                        font-size: 1rem !important;
                        padding: 0rem 5%;
                    }
                    div{
                        img{
                            width: 100% !important;
                        }
                    }
                }
                .skill_subskills{
                    width: 100% !important;
                }
                .toggle_area{
                    justify-content: space-between !important;
                }
            }
            div{
                min-height: 0vh !important;
            }
            .project_container_outer{
                width: 100% !important;
                .project_container{
                    width: 80% !important;
                    .row{
                        .container{
                            width: 5rem !important;
                            height: 5rem !important;
                        }
                    }
                }
            }
        }
        .section_split.one{
            h1{
                margin:0rem 0rem !important;
                margin-bottom: 10vh !important;
            }
            margin-bottom: 7vh !important;

        }
        .section_split.two{
            h1{
                margin-bottom: 0rem !important;
            }
        }
    }
    .portfolio_project_selector{
        .top_row{
            flex-direction: column !important;
            h1{
                margin: 1rem 0rem !important;
            }
            .project_container_outer{
                margin: 2.5vh;
                .project_container{
                    width: 50% !important;
                    min-height: 30vh !important;
                    box-shadow: 0 -.5rem #A5A6F6 !important;
                    .project_view,.project_info{
                        min-height: 10vh !important;
                        border-radius: 1rem !important;
                    }
                    .project_view,.project_info{
                        min-height: 3vh !important;
                        font-size: 1rem !important;
                    }
                    #project_preview{
                        min-height: 13vh !important;
                    }

                }
                
            }
        }
    }

}
